*{
  box-sizing: border-box;
}





#navigation{
  margin-left: 0px;
  padding-top: 15px;
  position:fixed;
  z-index: 2;
  width: 100%;
  -webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
}
#logo{
  -webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
}


#navigation li{
display:inline-block;
}

#navigation li a{
font-family: 'Comfortaa', cursive;
font-size: 2rem;
color:white;
margin-right: 25px;
text-decoration: none;
}
#navigation li:first-child a{
font-family: 'Comfortaa', cursive;
font-size: 2rem;
color:#CD1740;
margin-right: 25px;
text-decoration: none;
}
#navigation li:first-child a:hover{
font-family: 'Comfortaa', cursive;
font-size: 2rem;
color:white;
margin-right: 25px;
text-decoration: none;
}


#navigation li a:hover{
font-family: 'Comfortaa', cursive;
font-size: 2rem;
color:#CD1740;
transition: ease-in-out 0.6s;
text-decoration: none;
background:none;
}

.logo{
  display: flex;
  justify-content: center;

}
.navig{
  padding: 21px 50px 0 0;

}
.menu{
  display: flex;
  justify-content: flex-end;
}

.imgCarous{
  width:100%;
}
.presentation{
  position:relative;
  width:100%;
  top:0
}
.titre{
display: flex;
flex-direction: column;
position:absolute;
text-align: center;
/*top: 319px;*/
z-index: 1;
width: 64%;
margin:0 auto;
/*left: 238px;*/
left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
}
.titre h1{
  color:white;
  font-family: 'Comfortaa', cursive;
  font-size:7rem;
  text-transform: uppercase;
  text-shadow:5px 5px 5px #000000;
}
.titre h2{
  color:#CD1740;
  font-family: 'Comfortaa', cursive;
  font-size:5rem;
  text-transform: capitalize;
  /*text-shadow:5px 5px 5px #000000;*/
}
.titre p{
  color:white;
  font-size: 3rem;
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  text-shadow:5px 5px 5px #000000;
}
